*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #333;
  overflow-y: hidden;
  padding: 0;
}

.console {
  width: 650px;
  background: #fff;
  padding: 1em;
  margin: 1em auto;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.console__title {
  margin-top: 0;
}

.console__status {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.console__listview {
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.console__status-on {
  color: green;
}

.console__status-off {
  color: red;
}

.console__listview {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
}

.console__listview li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #eee;
}

.console__listview li:first-child {
  border-top: 1px solid #eee;
}

.console__listview li span {
  display: inline-block;
  width: 90px;
  font-weight: bold;
  color: #999;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.listview__item-sent {
  background-color: #f7f7f7;
}

.listview__item-received {
}

.console__form {
  margin-top: 1.5rem;
}

.form__input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 100px;
  margin-bottom: 1rem;
}

.form__btn {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 0.25rem;
  text-align: center;
  background: #452f2f;
  border-bottom: 1px solid #999;
}

.form__btn:hover {
  opacity: 0.75;
  cursor: pointer;
}

.form__btn-primary {
  background: #86b32d;
  border-bottom: 1px solid #5d7d1f;
}

.form__btn-off {
  background: gray;
}
