<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css" type="text/css"/>
</head>
<body>
  <div class="console">
    <h1 class="console__title"><%= title %></h1>
    
    <div class="console__status console__status-on" >Connecting...</div>
    
    <ul class="console__listview"></ul>
    
    <form class="console__form" action="#" method="post">
      <textarea class="form__input"  placeholder="Press Enter to send message." required></textarea>
      <button class="form__btn form__btn-primary form__btn-submit" type="submit" >Send Message</button>
      <button class="form__btn form__btn-off form__btn-switch" type="button" >Close Connection</button>
    </form>
  </div>
  
  <script src="/script/utils.js"></script>
  <script src="/script/comp.js"></script>
  <script src="/script/index.js">
  </script>
  <script>
    window.onload = function () {
      load('<%= port %>')
    }
  </script>
</body>
</html>